
    <p class="prova_social">Prova social</p>
    <h2 class="titulo_clientes">O que nossos clientes <span class="dizem">dizem</span></h2>
    <!-- <img src="../src/img/icone-2.png" alt="Ícone de depoimento" class="icone_depoimentos"> -->


    <div id="depoimentos">
        <div class="carousel_container">
          
          <div class="carousel_wrapper">
            
            <!-- O carrossel de depoimentos propriamente dito -->
            <div class="container_depoimentos" id="trackDepoimentos">

                <div class="box_depoimentos">
                    <div class="texto_depoimento">
                      <p>Serviço perfeito, um vestido de festa que achei que estava perdido por ter ficado apertado, e,  por ele ter renda por fora achei que não teria jeito, e a Eliane conseguiu fazer uma folga que ficou que perfeito no corpo. Agradeço pela excelência do serviço. Superou minhas expectativas, indico a todos.</p>
                    </div>
                    <button class="btn_ler_mais" onclick="toggleTexto(this)">Ler mais...</button>
                    
                    <span class="estrelinhas_depoimentos">★★★★★</span>
                    <p class="nome_depoente">Rosiane Carvalho</p>
                  </div>

                  <div class="box_depoimentos">
                    <div class="texto_depoimento">
                      <p>Levei um vestido para ajuste e o trabalho ficou impecável. Muito bem costurado, com cuidado em cada detalhe e ótimo acabamento. Superou minhas expectativas. Atendimento atencioso, prazo cumprido e preço justo. Com certeza voltarei e recomendo para quem estiver procurando uma costureira de confiança.</p>
                    </div>
                    <button class="btn_ler_mais" onclick="toggleTexto(this)">Ler mais...</button>
                    
                    <span class="estrelinhas_depoimentos">★★★★★</span>
                    <p class="nome_depoente">Deiny Marjory</p>
                  </div>

                  <div class="box_depoimentos">
                    <div class="texto_depoimento">
                      <p>Uma boa profissional, me ajudou muito e sou muito grato pelo que ela fez. Ela fez do jeito que eu queria, uma capa para a bateria da minha bicicleta elétrica. Aora eu posso andar na chuva sem preocupação, pois a bateria está protegida. Eu não tenho mais essa preocupação. Muito obrigado por me ajudar!</p>
                    </div>
                    <button class="btn_ler_mais" onclick="toggleTexto(this)">Ler mais...</button>
                    
                    <span class="estrelinhas_depoimentos">★★★★★</span>
                    <p class="nome_depoente"> Rodrigo Santos </p>
                  </div>

                  <div class="box_depoimentos">
                    <div class="texto_depoimento">
                      <p>O terno que recebi mudou completamente a percepção que as pessoas têm de mim nas reuniões. Caimento impecável, tecido incrível. Já encomendei o segundo.</p>
                    </div>
                    <button class="btn_ler_mais" onclick="toggleTexto(this)">Ler mais...</button>
                    
                    <span class="estrelinhas_depoimentos">★★★★★</span>
                    <p>Dr. Ricardo Almeida <br><span>Advogado Sênior, São Paulo</span></p>
                  </div>

                  <div class="box_depoimentos">
                    <div class="texto_depoimento">
                      <p>O terno que recebi mudou completamente a percepção que as pessoas têm de mim nas reuniões. Caimento impecável, tecido incrível. Já encomendei o segundo.</p>
                    </div>
                    <button class="btn_ler_mais" onclick="toggleTexto(this)">Ler mais...</button>
                    
                    <span class="estrelinhas_depoimentos">★★★★★</span>
                    <p>Dr. Ricardo Almeida <br><span>Advogado Sênior, São Paulo</span></p>
                  </div>
            </div>
            
            <!-- Container das Setas posicionado embaixo -->
            <div class="carousel_controls">
              <button class="carousel_btn prev_btn" onclick="mudarSlide(-1)">&#10094;</button>
              <button class="carousel_btn next_btn" onclick="mudarSlide(1)">&#10095;</button>
            </div>
            
          </div>
      
        </div>
      </div>
      
    
