
<div class="container_galeria">
    
<div class="chamada_galeria">
    <h2 class="titulo_galeria">Nossa galeria</h2>
    <p class="texto_galeria">Elegância criada em cada detalhe</p>


</div>
<div class="box_imagens_galeria">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img7.jpeg" alt="" data-id="0">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img18.jpeg" alt="" data-id="1">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img9.jpeg" alt="" data-id="2">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img10.jpeg" alt="" data-id="3">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img17.jpeg" alt="" data-id="4">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img13.jpeg" alt="" data-id="5">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img14.jpeg" alt="" data-id="6">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img15.jpg" alt="" data-id="7">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img16.jpeg" alt="" data-id="8">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img19.jpg" alt="" data-id="9">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img20.jpg" alt="" data-id="10">
    <img class="galeria-img" src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/galeria/img21.jpeg" alt="" data-id="11">
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div> <!-- Apenas um div fechando aqui -->


