
<div class="container_galeria">
    
<div class="chamada_galeria">
    <h2>Image Modal</h2>
<p>In this example, we use CSS to create a modal (dialog box) that is hidden by default.</p>
<p>We use JavaScript to trigger the modal and to display the current image inside the modal when it is clicked on. Also note that we use the value from the image's "alt" attribute as an image caption text inside the modal.</p>
</div>
<div class="box_imagens_galeria">
    <img class="galeria-img" src="../src/img/galeria/vestido.png" alt="Vestido 1">
    <img class="galeria-img" src="../src/img/galeria/vestido.png" alt="Vestido 2">
    <img class="galeria-img" src="../src/img/galeria/vestido.png" alt="Vestido 3">
    <img class="galeria-img" src="../src/img/galeria/vestido.png" alt="Vestido 4">
    <img class="galeria-img" src="../src/img/galeria/vestido.png" alt="Vestido 5">
    <img class="galeria-img" src="../src/img/galeria/vestido.png" alt="Vestido 6">
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div> <!-- Apenas um div fechando aqui -->


