<div id="container_header">
    <div class="itens_header">
        <img src="./src/img/logo/logo4.png" alt="Logo Efata Atelier" id="logo_desktop">
        
    </div>

    <div class="itens_header">
        <nav>
            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#depoimentos" >Depoimentos</a></li>
                <li><a href="#rodape">Contato</a></li>
            </ul>
        </nav>    
   </div>

    <div class="itens_header">
        <a href="http://" target="_blank" rel="noopener noreferrer" id="btn_agendar_topo"> <img src="./src/img/icon-balao.svg" alt="">  Agendar</a>
    </div> 
</div>