
    <div class="container_hero">
        <!-- Lado Esquerdo: Imagem -->
        <div class="conteudo_hero imagem_hero">
        <img src="src/img/hero/vestido.png" alt="Hero Image">
        </div>    
        
        
        <div class="conteudo_hero">
            <h1 class="titulo_hero">A arte da elegância</h1>
            <p class="texto_hero">Cada peça nasce da escuta atenta, da precisão do corte e de tecidos nobres selecionados a dedo — para que você vista não apenas uma roupa, mas uma segunda pele.</p>  
            
            <div class="numeros_container">                       
                <div>
                <span class="numeros_hero" style="color: var(--cor-destaque);">10+</span>
                <span class="descricao_numeros_hero">Anos de tradição</span>
                </div>
                
                <div>
                <span class="numeros_hero" style="color: var(--cor-destaque);">2500+</span>
                <span class="descricao_numeros_hero">Peças entregues</span>
                </div>
                
                <div>
                <span class="numeros_hero" style="color: var(--cor-destaque);">100%</span>
                <span class="descricao_numeros_hero">Sob medida</span>
                </div>
            </div>
        </div>        
        
    </div>
