<div class="container-newsletter">

    <div class="itens-newsletter">
        <h2 class="titulo-formulario">Entre em contato conosco e faça seu <span style="color: var(--cor-destaque);">orçamento.</span> </h2>
        <p class="texto-pagamento">Pagamento facilitado no cartão de crédito.</p>
    </div>

    <div class="itens-newsletter">
        <form action="" id="formulario">
            <input type="text" placeholder="Seu nome" >
            <input type="email" name="email" id="email" placeholder="Seu e-mail" >
            <input type="tel" name="phone" id="phone" placeholder="Seu telefone" >
            <textarea name="" id="" cols="30" rows="10" placeholder="Mensagem" ></textarea>

            <button type="submit" class="btn-formulario">Enviar</button>
        </form>
    </div>
</div>


<script>

   
</script>