<div class="container_footer">

    <div class="itens_footer">
        <img src="../src/img/logo/logo4.png" alt="logo rodape" id="logo_footer">

        <p class="texto_logo_footer">Uma década dedicada à arte do corte e à elegância que resiste ao tempo.</p>
    </div>


    <div class="itens_footer">
        <p class="navegacao">Navegação</p>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#depoimentos">Depoimentos</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </div>

    <div class="itens_footer">
        <p class="contato">Contato</p>
        <p class="texto_contato">Rua. Pombo Correio, 31 - São Paulo/SP</p>
        <p class="texto_contato">(11) 94724-2478</p>
        <a href="mailto:shineesilk14@gmail.com" target="_blank" class="texto_contato">shineesilk14@gmail.com</a>
    </div>


</div>

<div class="divisoria_footer"></div>

<div class="container_autoral">
    <div class="itens_autoral">
        
        <a href="https://www.instagram.com/shineesilk/" target="_blank">
            <img src="../src/img/footer/instagram.png" alt="instagram" class="img_social" title="instagram"></a>

        <a href="https://www.facebook.com/profile.php?id=100089168091187" target="_blank">
            <img src="../src/img/footer/facebook.png" alt="facebook" class="img_social" title="facebook"></a>


        <a href="https://www.google.com/maps/place/R.+Pombo+Correio,+31+-+Vila+Formosa,+S%C3%A3o+Paulo+-+SP,+03330-000/@-23.5401879,-46.557155,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce5a7f8c2e7d9f:0x8e6c8e6c8e6c8e6c!8m2!3d-23.5401879!4d-46.5550663!16s%2Fg%2F11b6v5k5zj"
            target="_blank">
            <img src="../src/img/footer/local.png" alt="localização" class="img_social" title="localização"></a>

    </div>

    <div class="itens_autoral">
        <p class="texto_autoral">&copy; 2026 Atelier Shine Silk. Todos os direitos reservados. Desenvolvido por - <a
                href="https://github.com/orgs/Senac-TI-32/teams/codemaster" target="_blank">CODE MASTER <span
                    style="font-style: italic;color: var(--cor-destaque);">agency</span></a></p>
    </div>
</div>