
<div class="container_footer">

    <div class="itens_footer">
        <img src="../src/img/logo/logo4.png" alt="logo rodape" id="logo_footer">

        <p class="texto_logo_footer">Uma décadas dedicadas à arte do corte e à elegância que resiste ao tempo.</p>
    </div>


    <div class="itens_footer">
        <p class="navegacao">Navegação</p>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#depoimentos">Depoimentos</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </div>

    <div class="itens_footer">
        <p class="contato">Contato</p>
        <p class="texto_contato">Rua. Pombo Correio, 31 - São Paulo/SP</p>
        <p class="texto_contato">(11) 94724-2478</p>
        <a href="mailto:shineesilk14@gmail.com" target="_blank" class="texto_contato">shineesilk14@gmail.com</a>
    </div>

</div>