<div id="servicos">

  <p class="texto_inicial_servicos">-Como Funciona</p>
  <h2 class="titulo_inicial_servicos">Do sonho ao traje perfeito</h2>
  
  <div class="container_servicos">
  
    <div class="itens_servicos">
      <div class="elipse_servicos">01</div>
      <h3 class="titulo_box_servicos">Triagem de medidas</h3>
      <p class="texto_servicos">Nossos mestres realizam mais de 30 medidas individuais, com análise postural completa. Cada detalhe do seu biotipo é registrado para garantir um caimento único e natural.</p>
    </div>
    
    <div class="itens_servicos">
      <div class="elipse_servicos">02</div>
      <h3 class="titulo_box_servicos">Provas intermediárias</h3>
      <p class="texto_servicos">Após a construção inicial da peça em tecido de prova (toile), você experimenta e nossa equipe realiza todos os ajustes necessários antes do corte no tecido definitivo.</p>
    </div>
    
    <div class="itens_servicos">
      <div class="elipse_servicos">03</div>
      <h3 class="titulo_box_servicos">Entrega final</h3>
      <p class="texto_servicos">O grande momento: você experimenta a peça acabada. Um ajuste final de precisão garante que cada milímetro esteja exatamente como planejado. A elegância, entregue com cerimônia.</p>
    </div>
  </div>  
  
     <a href="#" target="_blank" class="btn_processo">Iniciar meu processo</a>
</div>             