    <p class="texto_inicial_servicos">-Nossos Serviços</p>
  <h2 class="titulo_inicial_servicos">Arte que veste. <span class="elegancia_fala">Elegância que fala</span> </h2> 

    
  <div class="container_servicos">
  
    <div class="itens_servicos">
      <div class="elipse_servicos"><img src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/servicos/medidas.jpg" alt=""></div>
      <h3 class="titulo_box_servicos">Vestido Sob Medida</h3>
      <p class="texto_servicos">Da escolha do tecido ao acabamento final, cada vestido é construído exclusivamente para você. Ideal para noivas e ocasiões que exigem presença e distinção.</p>
    </div>
    
    <div class="itens_servicos">
      <div class="elipse_servicos"><img src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/servicos/ajuste_vestido.jpg" alt=""></div>
      <h3 class="titulo_box_servicos">Ajustes e Reformas</h3>
      <p class="texto_servicos">Seja uma herança de família ou uma peça querida que perdeu o caimento, nossos mestres restauram e adequam com técnicas que respeitem a integridade da peça.</p>
    </div>
    
    <div class="itens_servicos">
      <div class="elipse_servicos"><img src="https://senac-ti-32.github.io/atelier-shine-silk/src/img/servicos/fantasia.jpg" alt=""></div>
      <h3 class="titulo_box_servicos">Trajes de Fantasia </h3>
      <p class="texto_servicos"> Fantasias criadas com tecidos de alta qualidade e detalhes feitos à mão. Para festas a tema, convenções e eventos que exigem o máximo de destaque.</p>
    </div>
  </div>  
    <a href="https://wa.me/5511947242478?text=Olá,%20gostaria%20de%20saber%20mais%20sobre%20seus%20serviços" target="_blank" class="btn_processo"> Solicitar serviço</a>
  </div>

   
            