
  <div class="container_sobre">

      <div class="itens_sobre">
         <h2 class="titulo_sobre">12 anos dedicados à perfeição do corte</h2>
         <p class="texto_sobre">Fundado em 2014 no coração de São Paulo, a Atelier nasceu do sonho de uma jovem que viu na alfaiataria muito mais do que uma profissão — uma forma de arte. Ao longo de uma década, cada ponto dado à mão se transformou em herança e cada corte, em identidade.
         Hoje, com uma vasta experiência que atende debutantes e noivas que compreendem que a verdadeira elegância começa no ajuste perfeito.</p>

         <!-- <img src="../src/img/icone-1.png" alt="" class="icone_sobre"> -->
      </div>

        <div class="itens_sobre">
           <img src="./src/img/sobre/logo3.png" alt="Imagem sobre">
        </div>
    </div>
    