
#newsletter{
    background-color: #fcfaf8;
}

.container-newsletter{
    padding: 100px 0px;
}

.itens-newsletter{
    padding: 15px;
}

#formulario{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background: linear-gradient(to left, #f4e3d1, #fcf5ed 50%);
    border-radius: 5px;
    
}

#formulario > input{
    border: none;
    border-radius: 2px;
    margin: 10px 0px;
}



#formulario > input:hover{
    outline: 1px solid var(--cor-destaque); 
}

 input:focus{
  outline: none;
  
}

textarea:hover{
  outline: 1px solid var(--cor-destaque); 
}



.btn-formulario:hover{
    background: #d2b459;
    
    
}